<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
	<link rel="stylesheet" href="public/css/manage.css">
	<script src="/public/js/manage/events.js"></script>
	<script src="/public/js/jquery.base64.min.js"></script>
</head>
<body>
	<div class="body">
		<div class="file-explorer">
			here is the content of manage
		</div>
		<div class="side-bar">
			<button type="button" class="btn btn-default files-list">Get files list</button>
		</div>	
	</div>
</body>
</html>
