<script src="/public/js/map-legend.js"></script>

<div class="map-legend">
	<button type="button" class="btn btn-info map-legend-button">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
		Map legend
	</button>
	<div class="map-legend-show">
		<div>
			<span class="glyphicon glyphicon-folder-open folder-icon" aria-hidden="true"></span>
			<span class="directory">directory</span>
			<span> - a regular directory in the file system</span>
		</div>
		<div>
			<span class="glyphicon glyphicon-folder-open folder-icon" aria-hidden="true"></span>
			<span class="directory is-repository">directory</span>
			<span> - a directory which is a repository</span>
		</div>
		<div>
			<span class="glyphicon glyphicon-folder-open folder-icon" aria-hidden="true"></span>
			<span class="directory in-repo">directory</span>
			<span> - a directory which is in a repository</span>
		</div>
		<div>
			<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
			<span>file</span>
			<span> - a regular file in file system</span>
		</div>
		<div>
			<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
			<span class="in-repo">file</span>
			<span> - a file that is in the local repository</span>
		</div>
		<div>
			<span class="glyphicon glyphicon-file file-icon" aria-hidden="true"></span>
			<span class="in-remote">file</span>
			<span> - a file that is in the remote repository</span>
		</div>
	</div>
</div>