<script src="public/js/side-bar/events.js"></script>
<div class="side-bar">
	<div class="mycvs-logo">
		MYCVS V1.0.0
	</div>
	<div class="nav-links">
		<div class="nav-link">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Documentation
		</div>
		<div class="add-user-side-bar nav-link">
			<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>Add user
		</div>
		<% include add-user-form %>
		<div class="nav-link">
			<span class="glyphicon glyphicon-king" aria-hidden="true"></span>Add admin
		</div>
	</div>
</div>