<div class="side-bar">
		<div class="mycvs-logo">
			MYCVS V1.0.0
		</div>
		<div class="nav-links">
			<ul>
				<li>
					<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>Documentation
				</li>
				<li>
					<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>Add user
				</li>
				<li>
					<span class="glyphicon glyphicon-king" aria-hidden="true"></span>Add admin
				</li>
			</ul>
		</div>
	</div>