.content{
	padding: 10px;
}

.repository-details{
	color: #000;
  	margin: 0 0 20px 0;
}

.repository-details h1{
	font-size: 30px;
  	margin-top: 10px;
  	color: #4D4B5B;
}

.remote,.local{
	color: #4D4B5B;
}

#members-list-section{
	color: #4D4B5B;
}

.member-icon{
	margin-right: 5px;
}

.member.admin{
	color: #5CB85C;
}

.member-selected{
	color: white;
	text-decoration: underline;
	background: #4D4B5B;
}

.local-file-selected{
	color: white !important;
	text-decoration: underline;
	background: #4D4B5B;
}

.local-file{
	color: red;
	cursor: pointer;
}

.remote-file{
	color: green;
}

.local-files-actions{
	float: right;
	margin-top: 10px;
}

.local-remote-file{
	color: green;
}

.different{
	color: purple;
	cursor: pointer;
}

.local-remote{
	color: black;
}